@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #16151d;
}

.logo {
    width: 150px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}


/* ---------------------Navbar Start ---------------------*/

.navbar {
    background-color: #1e0a9d;
    overflow: hidden;
}

.nav-pst {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-teks {
    font-size: 25px;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

.nav-teks:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navbar-set {
    width: auto;
}


/* ---------------------Navbar End ---------------------*/


/* ---------------------Pemberitahuan Start ---------------------*/

#pemberitahuan {
    width: 900px;
    height: auto;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    right: 160px;
    box-shadow: 0 0 10px #2a2a2a;
}

.garis-beranda1 {
    border: none;
    margin-left: -12px;
    width: 900px;
    height: 2px;
    /* Atur ketebalan garis sesuai keinginan Anda */
    background-color: #3c4044;
    /* Atur warna garis sesuai keinginan Anda */
}


/* ---------------------Pemberitahuan End ---------------------*/


/* ---------------------Terbaru Start ---------------------*/

.terbaru {
    width: 900px;
    height: 250px;
    right: 160px;
    overflow: hidden;
    box-shadow: 0 0 10px #2a2a2a;
}

.bingkai {
    width: 850px;
    height: 235px
}

.text-judul {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.txt {
    margin-top: -8px;
    height: 180px;
    overflow: hidden;
    width: 680px;
}

.terbaru-img {
    width: 175px;
    height: 250px;
    position: relative;
    margin: 0;
}

.img-konten {
    width: 160px;
    height: 225px;
    margin-top: 5px;
}

.text-pst {
    width: 690px;
    height: 235px;
}

.title-pst {
    position: relative;
    top: -10px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.chapter {
    font-size: 16px;
    margin-top: -3px;
    display: flex;
}

.genre {
    font-size: 16px;
    display: flex;
}

.status {
    font-size: 16px;
    margin-top: -19px;
    display: flex;
}

.sinopsis {
    font-size: 16px;
    margin-top: -19px;
    display: flex;
    height: 75px;
}

.rating {
    font-size: 16px;
    margin-top: 0px;
    display: flex;
}

.stat1 {
    flex: 0 0 70px;
    font-weight: bold;
    ;
}

.stat2 {
    flex: 0 0 10px;
}

.stat3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 675px;
    max-height: 90px;
    margin-right: 20px;
}

.fixed-rating {
    color: #fff4f4;
    line-height: 25px;
    margin-top: 3px;
    unicode-bidi: bidi-override;
    direction: ltr;
    text-align: left;
    display: inline-block;
    position: relative;
    bottom: 5px;
    font-size: 30px;
    width: auto;
}

.text-rate {
    font-size: 20px;
    vertical-align: 3px;
}

.fixed-rating::before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #FFD700 90%, #ccc 10%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.logo-negara {
    position: absolute;
    top: 16px;
    left: 130px;
    width: 45px;
    height: auto;
}


/* ---------------------Terbaru End ---------------------*/


/* ---------------------Side Konten Start ---------------------*/

#konten-side {
    width: 305px;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 35px;
    top: 110px;
    font-size: 12px;
    box-shadow: 0 0 10px #2a2a2a;
}

.judul {
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 24px;
}

.garis-beranda2 {
    border: none;
    margin-left: -1px;
    width: 310px;
    height: 2px;
    background-color: #3c4044;
}

.side-pict {
    height: 119px;
}

.side-body {
    width: 190px;
    height: 139px;
    margin-top: 5px;
}

.side-text {
    width: 190px;
    margin-top: -15px;
    margin-left: -12px;
    overflow: hidden;
}

.side-title {
    color: white;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 190px;
}

.side-text2 {
    font-size: 14px;
    margin-top: -3px;
}

.fixed-rating-side {
    margin-left: -10px;
    color: #fff4f4;
    line-height: 25px;
    margin-top: 5px;
    unicode-bidi: bidi-override;
    direction: ltr;
    text-align: left;
    font-size: 24px;
    display: inline-block;
    width: 150px;
}

.text-rate-side {
    vertical-align: middle;
    font-size: 18px;
}

.fixed-rating-side::before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #FFD700 90%, #ccc 10%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.logo-negara-side {
    position: absolute;
    margin-top: 10px;
    right: 215px;
    width: 23px;
    height: auto;
}


/* ---------------------Side Konten End ---------------------*/


/* ---------------------Footer Start ---------------------*/

#footer {
    height: 160px;
    overflow: hidden;
}

#icon-medsos {
    text-align: center;
    position: absolute;
    margin-top: -50px;
}

#icon1 {
    margin-right: 20px;
    font-size: 45px;
    color: white;
}

#icon2 {
    font-size: 45px;
    color: white;
}

#icon3 {
    margin-left: 20px;
    font-size: 45px;
    color: white;
}

#icon-medsos a {
    text-decoration: none;
}

#icon-medsos a:hover {
    text-decoration: none;
}

#text1 {
    font-size: 14px;
    margin-top: 85px;
    margin-bottom: 0;
    color: #A3A3A3;
}

#copy {
    margin-top: 8px;
    color: #A3A3A3;
    margin-bottom: 0;
    font-size: 14px;
}

#footer {
    margin-top: auto;
    /* Mendorong footer ke bawah halaman */
}


/* ---------------------Footer End ---------------------*/